.squiggle {
  animation: squigglevision 0.3s infinite;
  z-index: 30;
}

/**
 * from: https://tympanus.net/codrops/2016/03/21/animated-animals-css-svg/
 */
@keyframes squigglevision {
  0% {
    filter: url("#squiggly-0");
  }

  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}

/* Hello animation */

.hello {
  position: absolute;
  z-index: 7;
  top: 30vh;
  left: 40%;
  display: inline;
}

@media (min-width: 1600px) {
  .hello h1 {
    font-size: 22rem;
  }
}

@media (min-width: 1200px) {
  .hello h1 {
    font-size: 16rem;
  }
}

@media (min-width: 992px) {
  .hello h1 {
    margin-top: 0px;
  }
}

.line {
  fill: none;
  stroke: #1c1b20;
  stroke-width: 41px;
}

.dot {
  fill: #f26c65;
}

.page-home.showHello section.hello .hello-scrolldown {
  opacity: 1;
  -webkit-transform: rotate(-90deg) translateY(-60px);
  -moz-transform: rotate(-90deg) translateY(-60px);
  -ms-transform: rotate(-90deg) translateY(-60px);
  -o-transform: rotate(-90deg) translateY(-60px);
  transform: rotate(-90deg) translateY(-60px);
}
@media (min-width: 767px) {
  .page-home section.hello .hello-scrolldown {
    bottom: 90px;
  }
}

.page-home section.hello .hello-scrolldown {
  position: absolute;
  z-index: 9;
  line-height: 1;
  opacity: 0;
  -webkit-transform: rotate(-90deg) translateY(-60px) translateX(-100px);
  -moz-transform: rotate(-90deg) translateY(-60px) translateX(-100px);
  -ms-transform: rotate(-90deg) translateY(-60px) translateX(-100px);
  -o-transform: rotate(-90deg) translateY(-60px) translateX(-100px);
  transform: rotate(-90deg) translateY(-60px) translateX(-100px);
  pointer-events: none;
  bottom: 110px;
  left: 50%;
  z-index: 101 !important;
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms,
    opacity 250ms linear 0ms;
  -moz-transition: -moz-transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms,
    opacity 250ms linear 0ms;
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms,
    opacity 250ms linear 0ms;
}

.hello-container {
  position: fixed;
  background: transparent;
}

.scrolling-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  border: 2px solid var(--gs0);
  border-radius: 8px;
  height: 33vh;
}

.scrolling-wrapper div {
  scroll-snap-align: start;

  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.scrolling-wrapper div:nth-child(1) {
  background: hotpink;
  color: white;
}
.scrolling-wrapper div:nth-child(2) {
  background: azure;
}
.scrolling-wrapper div:nth-child(3) {
  background: blanchedalmond;
}
.scrolling-wrapper div:nth-child(4) {
  background: lightcoral;
  color: white;
}

.content-block {
  width: 100%;
  /* right: 0;
  top: 0px;
  position: absolute; */
  background-color: transparent;
  height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: row;
  transition: left 1000ms ease;
}

.content-1 {
  background: #4e937a;
  width: 50%;
}

.content-2 {
  background: #1c3144;
  width: 50%;
}

.static-left {
  background-color: #ef6487;
  width: 50%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 4;
  height: 3000px;
}

.scroll-container {
  width: 100%;
  background-color: #ef6487;
  position: relative;
  height: 100vh;
  z-index: 2;
  left: 0;
  top: 0;
  overflow: hidden;
}

/* SVG learning Text animation */

.svg-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.text {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;

  color: #ffffff;
  text-align: center;
}

.text-1 {
  font-size: 90px;
}

svg.go {
  opacity: 0;
  transition: opacity 800ms ease;
}

.text-stroke {
  fill: none;
  stroke: #f7ebe8;
  stroke-width: 2.8px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  animation: dash 2s ease-in-out forwards;
}
.text-stroke:nth-child(2) {
  animation-delay: 0.5s;
}
.text-stroke:nth-child(3) {
  animation-delay: 1s;
}
.text-stroke-2 {
  stroke: #ffffff;
  animation-delay: 1.3s;
}
.text-stroke:nth-child(5) {
  animation-delay: 1.6s;
}
.text-stroke:nth-child(6) {
  animation-delay: 1.9s;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

/* SVG Path animation */

path.automatic {
  stroke: #ff6978;
  stroke-dasharray: 3142.03564453125;
  opacity: 1;
  animation: dash 5s ease-in-out;
  padding: 1px;
}

@keyframes dash {
  from {
    stroke-dashoffset: 3142.03564453125;
  }

  to {
    stroke-dashoffset: 0;
  }
}
.test-container {
  position: absolute;
  top: 45%;
  left: 50%;
}

/* Animated scroll arrow */

.anim-arrow {
  bottom: 40px;
  left: 5%;
  width: 18px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
  animation: opacity-in 1.5s ease-in-out 3.5s forwards;
  position: absolute;
  z-index: 20;
}

.tri-1 {
  animation: tri-anim 2.5s ease-in-out 0s infinite;
  width: 100%;
  height: 18px;
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1px;
  transform: rotate(45deg);
  position: absolute;
}
.tri-2 {
  animation: tri-anim 2.5s ease-in-out 0.25s infinite;
  width: 100%;
  height: 18px;
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1px;
  transform: rotate(45deg);
  position: absolute;
}

@keyframes tri-anim {
  0% {
    top: 0;
    opacity: 0;
  }

  10% {
    top: 0;
    opacity: 1;
  }

  75% {
    top: 100%;
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

/* Remove button styling */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
